node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
coverage/

.DS_Store
.metro-health-check*

.env*.local

android/**/*
modules/**/android/.gradle/**/*
modules/**/android/build/**/*
ios/**/*
*.ipa
*.apk
*.app
*.tar.gz
.idea/
.npmrc
.env*
.VSCodeCounter

# local build
# ios
build-*.ipa

# android
build-*.aab
build-*.apk

# targets
targets/widget-ios/Assets.xcassets

# env specific expo native module
modules/vidaLiveness/expo-module.config.json
modules/zoloz/expo-module.config.json

# force include
!scripts/deeplink-directory-generation/dist
scripts/deeplink-directory-generation/dist/docs

!scripts/module-content-generation/dist
